.main-container {
    overflow: auto;
    top: 0;
    width: 100%;
    height: calc(100vh - min(400px, 50vh));
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: min(400px, 50vh);
    padding: 1.2rem;
    background-color: #FAFAFA;
}